*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'poppins';
}
nav{
  position: fixed;
  background:transparent;
  height: 80px;
  width: 100%;
  overflow: hidden;
}
.menu{
  width: 20px;
  margin-top: 0;
}
.mulana{
  width: 90px;
  float: left;
  margin-left:70px ;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: left;
  margin-left: 0px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
nav ul li a{
  color: rgb(0, 0, 0);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform:lowercase;
}
.imgs ,ol{
  float: right;
  margin-right:30px;
  margin-top: 30px;
  display: inline-flex;

}
body{
  background: #fff;

  
}

.search, .people, .cart{
  width: 20px;
  margin: 0 20px;
  cursor: pointer;
  
}

.slideshow-container {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.search ,.people, .grocery{
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}



.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1055px){
  .search, .grocery,.people{
    display: inline-flex;
    width: 30px;
    margin:1px 10px ;
    
  }

}
@media (max-width: 432px){
  .search, .grocery,.people{
    display: inline-flex;
    width: 30px;
    margin:10px 2px ;
  }

}
@media (max-width: 440px){
  .imgs, ol{
    margin: 10px 1px;
  }
}



@media (max-width: 990px){
  .search, .grocery,.people{
    display: inline-flex;
    width: 30px;
    margin:1px 10px ;
    
  }

}
@media(max-width:430px){
  .imgs ,ol{
    margin: 10px 2px;
  }
}

@media (max-width: 958px){
  .search, .grocery,.people{
    display: block;
    width: 20px;
    margin:0px 10px ;
  }
}
@media (max-width: 952px){
  label.logo, .mulana{
    font-size: 30px;
    padding-left: 10px;
    margin-left: 10px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .search, .grocery,.people{
    display:inline-flex;
    width: 20px;
    margin:0px 20px ;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.about{
  height: auto;
  overflow: hidden;
  width: 100%;
}
.about-image {
  width: 100%;
  height: auto;

}
.about-pic{
  width: 100%;

}
.about-description{
  display: inline-flex;
  width: 100%;
  height: auto;
  
  
}
.no-back:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.back-image{
  margin:100px 0px 100px 200px;
}
.no-back{
  width: 500px;
  
  height: auto;
}
.intro{
  height: 50px;
  margin:auto;
  margin-top:12%;

}

.introducing{
  width: 700px;
  height: auto;
  font-size:34px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:lighter ;
  text-transform: capitalize;
  

}

.list-about{
  background: radial-gradient(circle, rgba(29,145,210,1) 100%, rgb(10, 42, 138) 100%);
  ;  text-align: center;
}
.list-about:hover{
  background: rgb(36,154,195);
  background: linear-gradient(288deg, rgba(36,154,195,1) 0%, rgba(108,120,200,1) 54%, rgba(247,184,255,1) 93%);
  color: #fff;
  font-size: 40px;
  }
.text-about{
  padding: 250px;
  font-size: 40px;
}


footer .items{
  background: rgb(36,154,195);
  background: linear-gradient(47deg, rgba(36,154,195,1) 0%, rgba(247,184,255,1) 93%);
  text-align: center;
  
}
.logo-1{
  text-align: center;
  align-items: center;
  position: relative;
}
.logos{
  width: 100px;
  cursor: pointer;
}
.footer-list {
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
  text-transform: uppercase;


}
footer{
  position: absolute;
  width: 100%;
  height: auto;
}

.footer1:hover{
    color: #2380EE;
  }

 .footer-list, .footer1{
  margin: 0 40px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;

}
.has-1, .hastag-1{
  margin-top: 30px;
  color: #fff;
  font-size: 12px;
  font-style: italic;
  
}
.icon-media-1  .media-1{
  display: inline-flex;
  text-align: center;
  height: auto;
  display: inline-flex;
  text-align: center;
  height: auto;
}
.fb-1, .inst-1, .tik-1{
  text-align: center;
  width: 40px;
  margin: 10px;
  display: inline-flex;
}
.copyR {
  position: relative;
  padding: 30px 0 40px 0 ;
  color: #fff;
}
.cr{
    color: #fff;

}