*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
   list-style: none;
}


body{
  font-family: 'poppins';
}

.title{
  width: 50%;
  margin: auto;
  font-size:5em;
  color: #000;
  text-transform: capitalize;
  text-align: center;
}
.check{
  align-items: center;
  margin: auto;
  height: auto;
  text-align: center;
  background:rgb(10, 29, 86);
  padding: 20px;
  max-width: 1200px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,.5);

}
.grand{
  color: #fff;
  font-size: 34px;
  text-transform: capitalize;
  padding: 1px;
  background: rgb(36, 129, 235);
  border-radius: 12px;

}
.main-container-1{
  max-width: 900px;
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  align-items: center;
  margin: auto; 
  margin-top: 100px;
}
.main-container-1 .info{
  padding-left: 20px;
  font-weight: lighter;
  text-transform: capitalize;
  font-family:'inter' ;
}

.main-container-1 header{
  font-weight: 100;
  text-align: none;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 10px;
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.check .column{
  padding-top: 30px;
  text-align: center;
  padding-left: 50px;
}
.check .input-box{
  position: relative;
  font-size: 16px;
}
.input-box{
  padding: 10px;
  text-align: justify;
  display: inline-flex;
  margin-left: 10px;
  text-transform: capitalize;
}
label{
  width: 100px;
  font-weight: 500;
  color: #ffffff;
  padding: 20px;
}
.colunm #submit{
  width: 200%;
  background: rgb(36, 129, 235);
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px #999;/
  
}
#submit:hover{
  background: linear-gradient(23deg,rgb(32, 32, 32)0%, rgb(20, 20, 20)100%);
}
#submit:active{
  background:linear-gradient(20deg, rgba(rgb(43, 42, 43)));
  box-shadow: 0 5px rgb(68, 68, 68);
  transform: translateY(1px);
}
.input-box #fname, #mname, #lname,#adds, #uname, #pword, #email{
  color: rgb(0, 0, 0);
  padding-left: 10px;
  font-style: italic;
  height: 50px;
  width: 400px;
  border-radius: 12px;
  font-size: 16px;
  border-width:0 0 2px 0 ;
  border:   1px  solid #ccc;
  position: relative;
  
}
#number, #code{
  color: rgb(0, 0, 0);
  padding-left: 10px;
  font-style: italic;
  height: 50px;
  width: 400px;
  border-radius: 12px;
  font-size: 16px;
  border-width:0 0 2px 0 ;
  border:   1px  solid #ccc;
  
}
#pays{
  font-style: italic;
  height: 50px;
  width: 400px;
  font-size: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  

}
.order-message-container{
  width: 500px;
  height: 200px;
  background: tomato;
  text-align: center;
  position: absolute;
  top:100%;
  left: 38%;
  padding:20px;
  color: #fff;
}
h3{
  text-transform: capitalize;
  font-size: 26px;
}
.input-box-2{
  display: block;
  margin: auto;
  text-align: center;
  width:400px;
  border:1px solid #000;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  flex-wrap: wrap;
  margin-bottom: 10px;
}


::placeholder {
  color: rgb(0, 0, 0);
  font-weight: lighter;
}


