*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'poppins';
}
nav{
  background:transparent;
  height: 80px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  
  
}
.menu{
  width: 20px;
  margin-top: 0;
}
.mulana{
  width: 90px;
  float: left;
  margin-left:70px ;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: left;
  margin-left: 0px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
nav ul li a{
  color: rgb(0, 0, 0);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform:lowercase;
  font-family: 'poppins';
  font-weight: 500;

}
.imgs ,ol{
  float: right;
  margin-right:30px;
  margin-top: 30px;
  display: inline-flex;

}
body{
  background: #fff;


}

.search, .people, .cart{
  width: 20px;
  margin: 0 20px;
  cursor: pointer;
  
}

.slideshow-container {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.search ,.people, .grocery{
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}



.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1055px){
  .search, .grocery,.people{
    display: inline-flex;
    width: 30px;
    margin:1px 10px ;
    
  }

}
@media (max-width: 432px){
  .search, .grocery,.people{
    display: inline-flex;
    width: 30px;
    margin:10px 2px ;
  }

}
@media (max-width: 440px){
  .imgs, ol{
    margin: 10px 1px;
  }
}



@media (max-width: 990px){
  .search, .grocery,.people{
    display: inline-flex;
    width: 30px;
    margin:1px 10px ;
    
  }

}
@media(max-width:430px){
  .imgs ,ol{
    margin: 10px 2px;
  }
}

@media (max-width: 958px){
  .search, .grocery,.people{
    display: block;
    width: 20px;
    margin:0px 10px ;
  }
}
@media (max-width: 952px){
  label.logo, .mulana{
    font-size: 30px;
    padding-left: 10px;
    margin-left: 10px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .search, .grocery,.people{
    display:inline-flex;
    width: 20px;
    margin:0px 20px ;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.second{
  background: linear-gradient(0deg, rgba(36,154,195,1) 0%, rgba(247,184,255,1) 93%);
  width: 100%;
  height:800px;
  display: inline-block;
  position:static;
}
.text-one #ready{
  font-family: 'poppins';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  width: 280px;
  text-align: center;
  float: right;
}
#ready {
  margin:14em 30em 0 0;
  font-style: italic;
}
.text-two #brand{
  padding: 10px;
  font-size: 20px;
  font-style: italic;
  float: right;
  width:900px;
  height: 60px;
  margin-right: 100px;
  font-weight:400;

}
.picture #advs{
  border-radius: 10px;
  margin:4em 0 0 3em; 
}
.parent{
  width: 100%;
  height: auto;
  background: linear-gradient(0deg, rgba(44,163,152,1) 24%, rgba(51,130,252,1) 53%);

  }
.child{
  text-align: center;
  justify-self: start;
  padding: 30px;
  width: 100%;
}
#col {
  width: 40vh;
  border-radius: 3px;
  margin: 10px;
  transition: transform .5s; 

  
}
#col:hover{
  transform: scale(1.5);
  animation-delay: 6s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.community .pic-collect{
  display: inline-flex;
  top: 100%;
  font-family: "poppins" sans-serif;
}

.community{
  margin-top: 30px;
  color: #fff;
  align-items: center;
  text-align: center;
  position: relative;
  display: inline-block;
  height: auto;
}

.has{
  letter-spacing:3px;
  display: inline-flex;
}
#hastag{
  text-align: center;
  font-size: 24px;
}

.pic-collect{
  display: grid;
  margin: auto;
}
.wave {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 189px;
}

.wave .shape-fill {
  fill: #2380EE;}
.icon-media .media{
  display: inline-flex;
  text-align: center;
  height: auto;
}
.fb, .inst, .tik{
  text-align: center;
  width: 40px;
  margin: 10px;
  display: inline-flex;
}
.wave-2 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 189px;
}

.wave-2 .shape-fill-1 {
  fill: #2380EE;
}
.featured{
  margin-top: 100px;
  text-align: center;
  font-weight: lighter;
  background: linear-gradient(0deg, rgb(181, 123, 192) 24%, rgba(51,130,252,1) 53%);
 
}
#first-item{
  max-width: 200px;
  padding: 3px;
  border-radius: 7px;

}
.product{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  text-align: center;
  font-family: arial;
  display: inline-block;
  cursor: pointer;


}
.product{
 background:rgb(240, 240, 240);
 margin:10px 12px;
 padding: 5px 0 5px 0;
 border-radius: 10px;
}
.price{
  width: auto;
  font-weight:lighter;
  font-size: 16px;
}
.feat{
  text-align: center;
  font-size: 2dvh;
  font-weight: 100;
}

     
.product:hover{
  background: #0a39d3;
  transition: .6s;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 1);
  color: #fff;
}
.prods{
  color: #1b0202;
  font-family: 'poppins'sans-serif;
  font-size: 34px;
  text-align: center;
  padding: 20px;
  position: relative;
  font-weight:600;
}
.customize{
  width: 100%;
  height: 73.11129163281885vh;
  background: rgb(35,81,135);
  background: linear-gradient(47deg, rgba(35,81,135,1) 0%, rgba(205,143,231,1) 48%, rgba(139,74,214,1) 100%);
}
.product-cus{
  margin: auto;
  width: 50%;
  text-align: center;
  padding:15% 0;
  font-size: larger;
}
.cap{
  font-size: 4.6875vw;
  background: linear-gradient(to top, #CF4444 11%, #2956CF 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cap-1{
  font-size: 24px;
  cursor: pointer;
  display: inline-flex;
  padding: 20px;
  background:tomato;
  border-radius: 29px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .5);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.cap-1:hover{
  transform: scale(1.1);
  transition-delay: .3s;
  background: rgb(138,64,0);
  background: linear-gradient(61deg, rgba(138,64,0,1) 14%, rgba(158,34,222,1) 100%, rgba(50,54,55,1) 100%);

}
footer .items{
  background: rgb(36,154,195);
  background: linear-gradient(47deg, rgba(36,154,195,1) 0%, rgba(247,184,255,1) 93%);
  text-align: center;
  
}
.logo-1{
  text-align: center;
  align-items: center;
  position: relative;
}
.logos{
  width: 100px;
  cursor: pointer;
}
.footer-list {
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
  text-transform: uppercase;


}

.footer1:hover{
    color: #2380EE;
  }

 .footer-list, .footer1{
  margin: 0 40px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;

}
.has-1, .hastag-1{
  margin-top: 30px;
  color: #fff;
  font-size: 12px;
  font-style: italic;
  
}
.icon-media-1  .media-1{
  display: inline-flex;
  text-align: center;
  height: auto;
  display: inline-flex;
  text-align: center;
  height: auto;
}
.fb-1, .inst-1, .tik-1{
  text-align: center;
  width: 40px;
  margin: 10px;
  display: inline-flex;
}
.copyR {
  position: relative;
  padding: 30px 0 40px 0 ;
  color: #fff;
}
.cr{
    color: #fff;

}